---
Language: Cpp
BasedOnStyle: LLVM

SortIncludes: Never
SortUsingDeclarations: Never
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

UseTab: Always
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
IndentCaseLabels: true
IndentPPDirectives: AfterHash
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
ReferenceAlignment: Left
ColumnLimit: 180
BreakBeforeBinaryOperators: None

MaxEmptyLinesToKeep: 4
KeepEmptyLinesAtTheStartOfBlocks: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
ReflowComments: false
NamespaceIndentation: All
FixNamespaceComments: false
